@using TSIS.Models
@model IEnumerable<iSISModel.Teacher>
@{
    ViewBag.Title = ModelsRepository.GetLabel("AppraisalData");
}

<h2>@ModelsRepository.GetLabel("AppraisalData")</h2>

@Html.Partial("_GridViewTeacherAppraisalList", Model)