@using iSISDemo.Models
@model IEnumerable<iSISModel.Module>
@{
    ViewBag.Title = ModelsRepository.GetLabel("ModuleData");
}

<h2>@ModelsRepository.GetLabel("ModuleData")</h2>

@Html.Partial("_TreeListModuleData", Model)