@using iSISDemo.Models
@model IEnumerable<iSISModel.CourseSectionTeacher>
@{
    ViewBag.Title = ModelsRepository.GetLabel("CourseSectionTeacherData");
}

<h2>@ModelsRepository.GetLabel("CourseSectionTeacherData")</h2>

@Html.Partial("_GridViewCourseSectionTeacherData", Model)