@using iSISDemo.Models
@model IEnumerable<iSISModel.ClassLevel>
@{
    ViewBag.Title = ModelsRepository.GetLabel("ClassLevelData");
}

<h2>@ModelsRepository.GetLabel("ClassLevelData")</h2>

@Html.Partial("_GridViewClassLevelData", Model)