@using TSIS.Models
@model IEnumerable<iSISModel.Course>
@{
    ViewBag.Title = ModelsRepository.GetLabel("CourseData");
}

<h2>@ModelsRepository.GetLabel("CourseData")</h2>

@Html.Partial("_GridViewCourseData", Model)